* { all: unset; }

.parent {
    background-color: #202127;
    border-radius: 8px;
    border: 2px solid white;
    padding: 8px;
}

.header {
    font-weight: bold;
    font-size: large;
}

.title {
    margin-left: 1px;
}

.button {
    margin-top: 8px;
    background-color: #333;
    border-radius: 8px;
    padding: 8px;
}

.icon {
  background-color: #999000;
  border-radius: 10%;
  border: 2px solid white
}

.button:hover {
    background-color: #000;
}

.button:active {
    background-color: #111;
}

.exit:hover {
    color: #f66;
}
.exit {
  margin-left: 80px;
}


.exit, .button {
    transition: all 0.2s ease;
}
